<h1 id="introduction">
    Introduction
</h1>
    <p>
        
        Parameter calibration of epidemiological models with data
        is a demanding but crucial task.
        The current COVID-19 pandemic has dramatically revealed
        the complexities and subtleties of developing epidemic
        data-driven models.
        Although computational cost would grow when we develop a
        model with stochastic differential equations, in some particular
        cases this would lead to tractable estimators. By quantifying uncertainty
        by Brownian motion and applying methods based on maximum likelihood,
        we can improve the calibration of a deterministic base with conventional
        methods. When we calibrate parameters of an epidemic model,
        we argue that we can sometimes improve the quality
        and computing effort by adding noise and proper information management.
    </p>
<p>
    Models based on stochastic differential equations (SDEs)
    have the advantage of characterising the central tendencies&mdash;usually
    a regarding deterministic model to describe the mean.
    This stochastic structure could also capture sources of variability
    <span>
        [see e.g.
        <a href="#ref-Allen2007">
            Allen (2007),
        </a>
                <a href="#ref-Kloeden2017">
            Kloeden (2017),
        </a>
                <a href="#ref-Gardiner2009">
            Gardiner (2009)
        </a>
        ].
    </span>
    These models represent an alternative to analyse
    the skewed data that is commonly sampled in the observations.
    Stochastic models, and particularly SDEs, attempt to capture
    in their formulation the random variability of the data, and therefore
    quantify the uncertainty that is naturally related to parameters or
    phenomena
    <span>
        <a href="#ref-Allen2007"}>
        Allen (2007)
        </a>.
    </span>
</p>
<p>
    One of the crucial challenges in likelihood-based inference
    for scalar SDEs is to compute of the underlying transition
    density, and hence the likelihood function. Thus, maximum likelihood
    estimation on the true likelihood of the solution of SDEs is a rare case.
    Moreover, because the available sampled solution
    is a sequence of discrete time observations, it is usually incomplete and
    limited, and we must instead appeal to approximations
    <span>
<a href="#ref-iacus">
    Iacus (2008)
</a>
</span>.
    Furthermore, this situation worsens for a coupled system of SDEs.
</p>
<p>
    Regarding stochastic models for epidemiology, and in particular
    for COVID-19, in previous studies there are two types of works related
    to the one presented here. On one hand, some manuscripts report similar
    ideas but for simpler structures and with numeric experiments of
    synthetic nature. For example,
    <span>
<a href="#ref-PaGrGrMa">
    Jiafeng et al. (2014)
</a>
</span>,
    reports the estimation of a SIS
    structure that only needs a scalar version of the model to
    approximate the likelihood
    <span>
<a href="#ref-PaGrGrMa">
    Jiafeng et al. (2014)
</a>
</span>.
    The authors use a pseudo-likelihood and least square method to estimate
    the parameters in the model. They also calculate  confidence intervals by
    applying least squares.
    In contrast, the results presented here deal with an epidemic model
    of five non-linear coupled SDEs and with real data for COVID-19
    from Mexico City, we also have a natural discretised version
    of the MLE to estimate the parameters in the model.
</p>
On the other hand, there are complex stochastic models similar to
the one considered in this manuscript that are only studied on a
theoretical basis and/or with numerical simulations.
However, this does not address estimations methods.
For example, in
<span>
<a href="ref-faranda2020modeling">
</a>
</span>, the authors propose a SEIR model, with four classes of
individuals, given by a random differential equation.
Indeed, they consider a model where two parameters are Brownian
motion with drift and one parameter is the solution of a SDE with
a log-normal perturbation.
Nevertheless, the authors do not estimate parameters
from actual data to fit the model, the parameters are instead taken from
previous works. Additionally, they used date information about
confinement in Italy and France to validate the model.

<p>
    In
    <span>
<a href="#ref-djordjevic2021two">
   Đorđević (2021)
</a>
</span>
    , the authors study a version of the stochastic
    SEIR model  for the COVID-19. Their model is a system of stochastic
    differential equations driven by two independent standard Brownian motions.
    More precisely, their model depends on several parameters,
    including the constant transmission coefficients related to symptomatic
    infected individuals ($\beta$), hospitalised individuals
    and to superspreaders ($\beta'$). In their study, the authors formulate a
    stochastic model via a stochastic perturbation of the constant
    transmission rates $\beta,\beta'$. They show the existence and uniqueness
    of the global positive solution. They also study conditions
    under which extinction and persistence in mean hold.
    Finally, they provide  numerical simulations of the stochastic model.
    Nevertheless, estimation methods to fit the model is an open problem
    for their model.
</p>

This manuscript focus on the calibration of a stochastic SEIR
(Susceptible-Exposed-Infective-Recovered) model
with data of symptomatic reported and confirmed
cases in Mexico City. According to a specific time window&mdash;where the
outbreak follows an increasing profile&mdash;, our approach relies on the
maximum likelihood estimation method.
<p>
    Here, we formulate our stochastic SEIR model
    through a stochastic perturbation of the natural death rate of the
    population by a Brownian motion.  We then deduce a nonlinear and
    coupled It\^o stochastic differential equation (SDE), driven by
    an affine Gaussian multiplicative noise.
</p>
Our main objective pursuit the development of consistent
Maximum Likelihood Estimator (MLE) for a stochastic
SEIR structure.
<p>
    Parameter estimation for SDEs is an active
    area in the statistical literature.
    For example, in
    <span>
<a href="#ref-Young81">
    Young (1981)
</a>
</span>
    P. Young gives an overview of parameter estimation
    methods with continuous-time observation.
    <span>
<a href="#ref-Soren-04">
    Sørensen (2004)
</a>
</span>
    H. Sørensen treat the case where the data correspond
    to the solution of SDEs observed in a sequence of discrete time points.
    We refer the reader to
    <span>
<a href="#ref-Soren-04">
    Sørensen (2004)
</a>
</span>
    for an introduction of several
    inference methods as estimating functions, analytical and numerical
    approximations of the likelihood function, Bayesian analysis Multi Chain
    Monte Carlo (MCMC) methods, indirect inference,
    and Expectation-Maximisation (EM) algorithm.
</p>
<p>
    Due to the COVID-19 pandemic, the estimation of parameters
    and development of epidemic models are under special attention. The most
    recent advances combine several models and data
    estimation. Among others, we see relevant methods based on Kalman filters,
    data aggregation
    <span>
<a href="#ref-Fintzi2017">
    Fintzi (2017)
</a>
</span>,
    and techniques from data science such as
    Artificial Intelligence and machine learning
    <span>
<a href="#ref-Bragazzi2018">
    Bragazzi (2018).
</a>
</span>
</p>
<p>
    Our work is related to
    <span>
<a href="#ref-Liu">
    Liu (2018),
</a>
<a href="#ref-PaGrGrMa">
    Pan (2014)
</a>
<a href="#ref-Ndanguza">
    Ndanguza (2011),
</a>
<a href="#ref-Hotta">
    Hotta (2010),
</a>
<a href="#ref-Rios">
    Rios (2020),
</a>
</span>

    Liu face the estimation
    for a system of SDEs in
    <a href="#ref-Liu">
        Liu (2018)
    </a>.
    <a href="#ref-Ndanguza">
        Ndanguza (2011),
    </a> focus on the
    calibration parameters of alternative stochastic SEIR  versions
    by adaptive MCMC and extended Kalman filter methods.

    Hotta
    report other Bayesian techniques in
    <a href="#ref-Hotta">
        Hotta (2010),
    </a>
    and
    <a href="#ref-Rios">
        Rios (2020),
    </a>
    apply a maximum likelihood method,  in

    <a href="#ref-Otunuga2021">
        Otunuga 2021
    </a>
    reports a parameter estimation with local
    lagged adapted generalised methods of moments.
</p>
<p>
    Our contribution consists of the development estimators for some crucial
    parameters of the stochastic SEIR model. Here, we apply the quadratic
    variation of all of three processes to estimate the volatility parameter
    and calculate the MLE for parameters representing the symptomatic infection
    rate, asymptomatic infection rate, and proportion of symptomatic individuals.
    Then, from a theoretical result, we deduce a target parameters likelihood
    without assuming a prior data distribution.
    In short, this likelihood and a mechanism to manage incomplete data
    form the core mechanism that allows us to estimate the parameters.
</p>
Data-driven epidemic models usually treat observations as counters.
Assuming that data follows a given distribution, this could be a Poisson,
negative binomial, and so on.
<a href="#ref-ONeill2010">
    ONeill (2010)
</a>.
Then, by applying some statistical inference tools to estimate some parameters,
the model is fitted to the incidence data.
<p>
    Here, we avoid this assumption.
    A description of the procedure follows.
    We use the Radon-Nikodym derivative of two equivalent
    measures&mdash;which, in our case, are the respective solutions
    of the stochastic SEIR system with two different sets of values of
    the parameters&mdash;to obtain the likelihood of the parameters
    of interest. This means that we use the Cameron-Martin-Girsanov
    Theorem to set up the likelihood.
    Note that the method to establish the likelihood does
    not assume a particular distribution of the solution,
    therefore,&mdash;we assume that the data have
    an abstract distribution.
</p>
We pursue estimators that satisfy strong consistency and
numerical schemes of high order to its computing.
With these ideas, we also illustrate their efficacy
in the time of computing and performance with real-data
by simulation.
<p>
    Our simulations suggest that the methodology developed
    here improves a particular outcome of a fitting with MCMC.
    The scheme of prior distributions returns a bias fitting
    with this method. In contrast, the fitting of the SDE model
    with MLE improves the capture of the data variance and the
    time of computing.
</p>
<p>
    According to our Theorem about consistency, by computing
    residuals we confirm  that the stochastic
    model follows the profile of the regarding data and is
    coherent with our modelling assumptions.
    The results presented here point to a methodology
    that would boost the uncertainty quantification by SDE
    epidemic models with incomplete information and with
    dramatically less computing time. Here, we report the first
    pieces of evidence.
</p>
<p>
    After this brief introduction, in
    <a href="#sec:deterministic_base_model">
        Section 2
    </a>,
    we treat a deterministic SEIR
    model for COVID-19 and its calibration with MCMC.
    <a href="#sec:inference">
        Section 3
    </a>
    forms the main content of this article:
    the construction of estimators for important parameters and the analysis
    of its consistency. We illustrate our methodology via simulation in
    <a href="#sec:simulation">
        Section 4
    </a> and
    <a href="#sec:application_real_data">
        Section 5
    </a>
    with synthetic generated data and data of confirmed symptomatic
    cases from Mexico City.
</p>
